body {
  background-color: #191414;
  font-family: Sans-Serif;
}

.login-screen {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login-box {
  background-color: #191414;
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.spotify-friends-logo {
  font-size: 2rem;

}

#login-with-spotify-button {
  background-color: #1DB954;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
}
#login-with-spotify-button:hover {
  text-decoration: underline;
}
